  
  <div class="container">
    <!-- <h1 class="app-name">Task-Tickler</h1>
    <p class="slogan">Are you ready to tick off your tasks?</p>
    <p>"The secret of getting ahead is getting started." – Mark Twain</p>
    <div class="slideshow-container">
      <div class="slideshow">
        <img src="../../assets/images/img5.jpeg" alt="Image 1">
        <img src="../../assets/images/img6.jpeg" alt="Image 2">
        <img src="../../assets/images/img7.jpeg" alt="Image 3">
        <img src="../../assets/images/img8.jpeg" alt="Image 4">
        <img src="../../assets/images/img2.jpeg" alt="Image 5">
        <img src="../../assets/images/img3.jpeg" alt="Image 6">
        <img src="../../assets/images/img4.jpeg" alt="Image 7">
      </div>
    </div> -->

    <img src="../../assets/images/p3.jpeg" alt="Image 1">


  </div>


  